@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
    box-sizing: border-box !important;
}

body {
    font-family: 'Manrope', sans-serif;
}

body p, body h1, body h2 , body h3 {
    margin: 0;
}

.circle {
    height: 40px;
    width: 40px;
    background-color: #85BF55;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle.active {
    background-color: #2C7EF8;
}
.circle.next {
    background-color: #fff;
    border: 2px solid #2C7EF8;
}
.circle.next p {
    font-size: 20px;
    font-weight: 400;
    line-height: 22px;
    color: #2C7EF8;
}
.circle.active p {
    font-size: 20px;
    font-weight: 400;
    line-height: 22px;
    color: #fff;
}

.container-fluid.top-header {
    height: 50px;
    background-color: #252F3D;
    position: relative;
}

.container-fluid.top-header p{
   color: #fff;
   font-size: 12px;
   font-weight: 500;
   line-height: 12px;
   text-transform: uppercase;
}

.container-fluid.top-header img {
    height: 18px; 
    width: 18px; 
}

.container-fluid.header {
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-fluid.header .brand-logo img {
    width: 192px;
    height: 100%;
}

.container-fluid.header .partner-logos.d-flex{
    gap: 32px;
}

.container-fluid.header .partner-logos img.mcafee {
    width: 88px;
    height: 100%;
}

.container-fluid.header .partner-logos img.norton {
    width: 82px;
    height: 100%;
}

.container-fluid.heading {
    margin-bottom: 60px;
}

.container-fluid.heading h1{
    font-size: 48px;
    line-height: 48px;
    font-weight: 400;
    margin-bottom: 24px;
}

.container-fluid.heading p{
    font-size: 24px;
    line-height: 24px;
    font-weight: 400;
    color: #4D5254;
}

.container-fluid.progress-bar {
    margin-bottom: 40px;
}

.container-fluid.progress-bar .step {
    display: flex;
    align-items: center;
    gap: 20px;
}

.container-fluid.progress-bar .step p {
    font-size: 20px;
    line-height: 22px;
    font-weight: 400;
}
.container-fluid.offer {
    margin-bottom: 60px;
}
.container-fluid.offer .container {
    background: #FAFAFA;
    border-radius: 10px;
    padding: 40px;
}

.container-fluid.offer .image {
    height: 591px;
    width: 100%;
    border-radius: 10px;
    background-image: url('../img/clarifion.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container-fluid.offer h2 {
    font-size: 32px;
    line-height: 45px;
    font-weight: 400;
}

.container-fluid.offer h2 span {
    color: #2C7EF8;
}

.container-fluid.offer .offer-item .d-flex.flex-column {
    justify-content: space-between;
}
.container-fluid.offer .offer-item {
    gap: 24px;
}

.container-fluid.offer .offer-item img {
    max-width: 134px;
    max-height: 134px;
}
.container-fluid.offer .offer-item h3 {
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
}
.container-fluid.offer .offer-item .d-flex.justify-content-between .d-flex {
    gap: 10px;
}

.container-fluid.offer .offer-item .d-flex.justify-content-between p {
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    color: #969696;
    text-decoration: line-through;
}

.container-fluid.offer .offer-item .d-flex.justify-content-between span {
    font-weight: 600;
    font-size: 22px;
    line-height: 31px;
    color: #2C7EF8;
}

.container-fluid.offer .offer-item .stock {
    gap: 16px;
}

.container-fluid.offer .offer-item .stock .circle {
    height: 16px;
    width: 16px;
    background-color: #E3EEFF;
}
.container-fluid.offer .offer-item .stock .sm-circle {
    height: 8px;
    width: 8px;
    background-color: #2C7EF8;
    border-radius: 50%;
}

.container-fluid.offer .offer-item .stock p {
    font-size: 16px;
    line-height: 22px;
    font-weight: 300;
    color: #37465A;
}

.container-fluid.offer .offer-item .desc p {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: #4D5254;
}

.container-fluid.offer ul.bullets li::before {
    display: block;
    content: "";
    background-image: url('../img/blue-check.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 22px;
    height: 22px;
}

.container-fluid.offer ul.bullets div {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}
.container-fluid.offer ul.bullets li {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 16px;
}
.container-fluid.offer ul.bullets li:last-child {
    margin-bottom: 0;
}

.container-fluid.offer ul.bullets li span {
    font-weight: 700;
}

.container-fluid.offer .saving {
    background-color: #EDF3FD;
    padding: 12px 16px;
    border-radius: 16px;
    gap: 16px;
}

.container-fluid.offer .saving .circle{
    height: 32px;
    width: 32px;
    background-color: #2C7EF8;
}

.container-fluid.offer .saving p {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
}

.container-fluid.offer .saving p span {
    color: #2C7EF8;
}

.container-fluid.offer .claim {
    width: 100%;
    display: flex;
}

.container-fluid.offer .claim a{
    border-radius: 50px;
    width: 100%;
    background-color: #59AE43;
    color: #fff;
    text-align: center;
    text-decoration: none;
    padding: 16px 0;
}

.container-fluid.offer .shipping {
    border: 1px solid #CFCFCF;
    border-radius: 4px;
    margin-top: 12px;
}

.container-fluid.offer .shipping p {
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    padding: 8px 14px;
    color: #4D5254;
    position: relative;
}

.container-fluid.offer .shipping p::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    width: 1px;
    background-color: #CFCFCF;
    height: 16px;
}
.container-fluid.offer .shipping .payments {
    flex: 1;
    gap: 2px;
}
.container-fluid.offer .shipping .payments img {
    width: 34px;
}

.container-fluid.offer .shipping p img {
    margin-right: 10px;
}

.container-fluid.offer .dont {
    margin-top: 20px;
}

.container-fluid.offer .dont a{
    font-size: 18px;
    font-weight: 500;
    line-height: 24.59px;
    color: #F82C2C;
    text-transform: uppercase;
}

.container-fluid.offer .satisfaction {
    gap: 16px;
    margin-top: 32px;
}

.container-fluid.offer .satisfaction img {
    width: 88px;
}

.container-fluid.offer .satisfaction p {
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
}

.container-fluid.offer .satisfaction p span {
    font-size: 16px;
    font-weight: 700;
    line-height: 22.4px;
    color: #4D5254;
}

.container-fluid.offer .testimonial {
    margin-top: 24px;
    background: #fff;
    border-radius: 10px;
    padding: 24px;
}

.container-fluid.offer .testimonial img {
    width: 48px;
}

.container-fluid.offer .testimonial .stars img {
    width: 12px;
}
.container-fluid.offer .testimonial .item {
    gap: 13px;
}
.container-fluid.offer .testimonial .name {
    gap: 10px;
}
.container-fluid.offer .testimonial .name p {
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    color: #333333;
}
.container-fluid.offer .testimonial .verified {
    gap: 10px;
}
.container-fluid.offer .testimonial .verified img {
    width: 16px;
}

.container-fluid.offer .testimonial .verified p {
    color: #5BB59A;
    font-weight: 400;
    font-size: 12px;
}

.container-fluid.offer .testimonial .desc {
    margin-top: 16px;
    font-weight: 400px;
    font-size: 16px;
    color: #4D5254;
}

.container-fluid.footer {
    height: 88px;
    background-color: #252F3D;
}

.container-fluid.footer p {
    color: #fff;
}

.container-fluid.footer .copyrights {
    gap: 16px;
}
.container-fluid.footer .copyrights.d-flex p{
    border-right: 1px solid #fff;
    padding-right: 16px;
}

.container-fluid.footer .copyrights.d-flex a {
    text-decoration: none;
    color: #fff;
}
.container-fluid.footer .copyrights.d-flex p:last-child {
    border: none;
}
.container-fluid.footer .secure {
    gap: 16px;
}
.owl-carousel.owl-theme.owl-loaded.owl-drag {
    position: relative;
}
.owl-carousel.owl-theme.owl-loaded.owl-drag,
.owl-stage-outer,
.owl-stage {
    height: 100%;
}

.owl-stage {
    display: flex;
    align-items: center;
}

.owl-nav {
    margin-top: 0 !important;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

button.owl-prev {
    position: absolute;
    top: 3px;
    left: 0;
}
button.owl-next {
    position: absolute;
    top: 3px;
    right: 0;
}

@media (max-width: 992px) {
    .container-fluid.top-header {
        height: 42px;
    }
    .container-fluid.header .brand-logo img {
        width: 106px;
    }
    .container-fluid.header .partner-logos img.mcafee {
        width: 44px;
    }
    .container-fluid.header .partner-logos img.norton {
        width: 41px;
    }
    .container-fluid.header {
        height: 60px;
    }
    .container-fluid.heading h1 {
        font-size: 32px;
        font-weight: 400;
        line-height: 44.8px;
        text-align: center;
        text-transform: capitalize;
    }
    .container-fluid.heading p {
        font-size: 16px;
        font-weight: 400;
        line-height: 22.4px;
    }
    .container-fluid.progress-bar .step {
        flex-direction: column;
    }
    .container-fluid.progress-bar .step p {
        font-size: 12px;
        font-weight: 400;
        line-height: 13.2px;
    }
    .container-fluid.progress-bar .step .circle {
        width: 20px;
        height: 20px;
    }
    .container-fluid.progress-bar .step img {
        width: 8px;
        height: 8px;
    }
    .container-fluid.offer .row {
        flex-direction: column-reverse;
    }
    .container-fluid.offer .container {
        background-color: #fff;
        padding-right: calc(var(--bs-gutter-x)* .5);
        padding-left: calc(var(--bs-gutter-x)* .5);
        padding-top: 0;
    }
    .container-fluid.offer h2 {
        font-size: 24px;
        text-align: center;
    }
    .container-fluid.offer .offer-item img {
        height: 80px;
        width: 80px;
    }
    .container-fluid.offer .offer-item h3 {
        font-size: 14px;
    }
    .container-fluid.offer .offer-item .stars img {
        height: 10px;
        width: 10px;    
    }
    .container-fluid.offer .offer-item .d-flex.justify-content-between p {
        font-size: 10px;
    }
    .container-fluid.offer .offer-item .d-flex.justify-content-between span {
        font-size: 14px;
    }
    .desc.d-md-none {
        margin: 16px 0;
    }
    .container-fluid.offer ul.bullets div {
        font-size: 12px;
    }
    .container-fluid.offer .saving p {
        font-size: 14px;
    }
    .container-fluid.offer .saving {
        margin-bottom: 24px;
    }
    .container-fluid.offer .image {
        display: none;
    }
    .container-fluid.offer .shipping {
        flex-direction: column;
    }
    .container-fluid.offer .shipping p:last-child::after {
        display: none;
    }
    .container-fluid.offer .shipping.d-flex.align-items-center .d-flex:first-child {
        border-bottom: 1px solid #CFCFCF;
    }
    .container-fluid.offer .payments {
        padding-top: 12px;
        padding-bottom: 8px;
    }

    .container-fluid.offer .satisfaction p {
        font-size: 12px;
    }
    .container-fluid.offer .satisfaction {
        align-items: flex-start !important;
    }
    .container-fluid.offer .testimonial {
        display: none;
    }
    .container-fluid.offer {
        margin: 0;
    }
    .container-fluid.footer {
        height: 102px;
    }
    .container-fluid.footer.d-flex.align-items-center .container {
        flex-direction: column;
    }
    .container-fluid.footer .copyrights.d-flex p {
        width: 49%;
        padding: 0;
        text-align: center;
        font-size: 12px;

    }
    .container-fluid.footer .copyrights.d-flex a {
        font-size: 12px;
    }
    .container-fluid.footer .secure.d-flex {
        justify-content: center;
        margin-top: 16px;
    }
    .container-fluid.footer .secure.d-flex p {
        font-size: 12px;
    }
}