@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
    box-sizing: border-box !important;
}

body {
    font-family: 'Manrope', sans-serif;
}

p {
    margin: 0 !important;
}

.container-fluid.top-header {
    height: 50px;
    background-color: #252F3D;
}

.container-fluid.top-header p{
   color: #fff;
   font-size: 12px;
   font-weight: 500;
   line-height: 12px;
   text-transform: uppercase;
}

.container-fluid.top-header img {
    height: 18px; 
    width: 18px; 
}

.container-fluid.header {
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-fluid.header .brand-logo img {
    width: 192px;
    height: 100%;
}

.container-fluid.header .partner-logos.d-flex{
    gap: 32px;
}

.container-fluid.header .partner-logos img.mcafee {
    width: 88px;
    height: 100%;
}

.container-fluid.header .partner-logos img.norton {
    width: 82px;
    height: 100%;
}

.container-fluid.heading h1{
    font-size: 48px;
    line-height: 48px;
    font-weight: 400;
}

.container-fluid.heading p{
    font-size: 24px;
    line-height: 24px;
    font-weight: 400;
    color: #4D5254;
}