@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
    box-sizing: border-box !important;
}

body {
    font-family: 'Manrope', sans-serif;
}

body p, body h1, body h2 , body h3 {
    margin: 0;
}

.circle {
    height: 40px;
    width: 40px;
    background-color: #85BF55;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle.active {
    background-color: #2C7EF8;
}
.circle.next {
    background-color: #fff;
    border: 2px solid #2C7EF8;
}
.circle.next p {
    font-size: 20px;
    font-weight: 400;
    line-height: 22px;
    color: #2C7EF8;
}
.circle.active p {
    font-size: 20px;
    font-weight: 400;
    line-height: 22px;
    color: #fff;
}

.container-fluid.top-header {
    height: 50px;
    background-color: #252F3D;
}

.container-fluid.top-header p{
   color: #fff;
   font-size: 12px;
   font-weight: 500;
   line-height: 12px;
   text-transform: uppercase;
}

.container-fluid.top-header img {
    height: 18px; 
    width: 18px; 
}

.container-fluid.header {
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-fluid.header .brand-logo img {
    width: 192px;
    height: 100%;
}

.container-fluid.header .partner-logos.d-flex{
    gap: 32px;
}

.container-fluid.header .partner-logos img.mcafee {
    width: 88px;
    height: 100%;
}

.container-fluid.header .partner-logos img.norton {
    width: 82px;
    height: 100%;
}

.container-fluid.heading {
    margin-bottom: 60px;
}

.container-fluid.heading h1{
    font-size: 48px;
    line-height: 48px;
    font-weight: 400;
}

.container-fluid.heading p{
    font-size: 24px;
    line-height: 24px;
    font-weight: 400;
    color: #4D5254;
}

.container-fluid.progress-bar {
    margin-bottom: 40px;
}

.container-fluid.progress-bar .step {
    display: flex;
    align-items: center;
    gap: 20px;
}

.container-fluid.progress-bar .step p {
    font-size: 20px;
    line-height: 22px;
    font-weight: 400;
}

.container-fluid.offer .container {
    background: #FAFAFA;
    border-radius: 10px;
    padding: 40px;
}

.container-fluid.offer .image {
    height: 591px;
    width: 100%;
    border-radius: 10px;
    background-image: url('../img/clarifion.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container-fluid.offer h2 {
    font-size: 32px;
    line-height: 45px;
    font-weight: 400;
}

.container-fluid.offer h2 span {
    color: #2C7EF8;
}

.container-fluid.offer .offer-item .d-flex.flex-column {
    justify-content: space-between;
}
.container-fluid.offer .offer-item {
    gap: 24px;
}

.container-fluid.offer .offer-item img {
    max-width: 134px;
    max-height: 134px;
}
.container-fluid.offer .offer-item h3 {
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
}
.container-fluid.offer .offer-item .d-flex.justify-content-between .d-flex {
    gap: 10px;
}

.container-fluid.offer .offer-item .d-flex.justify-content-between p {
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    color: #969696;
    text-decoration: line-through;
}

.container-fluid.offer .offer-item .d-flex.justify-content-between span {
    font-weight: 600;
    font-size: 22px;
    line-height: 31px;
    color: #2C7EF8;
}

.container-fluid.offer .offer-item .stock {
    gap: 16px;
}

.container-fluid.offer .offer-item .stock .circle {
    height: 16px;
    width: 16px;
    background-color: #E3EEFF;
}
.container-fluid.offer .offer-item .stock .sm-circle {
    height: 8px;
    width: 8px;
    background-color: #2C7EF8;
    border-radius: 50%;
}

.container-fluid.offer .offer-item .stock p {
    font-size: 16px;
    line-height: 22px;
    font-weight: 300;
    color: #37465A;
}

.container-fluid.offer .offer-item .desc p {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: #4D5254;
}

.container-fluid.offer ul.bullets li::before {
    display: block;
    content: "";
    background-image: url('../img/blue-check.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 22px;
    height: 22px;
}

.container-fluid.offer ul.bullets li {
    display: flex;
    align-items: center;
    gap: 12px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 16px;
}
.container-fluid.offer ul.bullets li:last-child {
    margin-bottom: 0;
}
.container-fluid.offer ul.bullets li span {
    font-weight: 700;
}

.container-fluid.offer .saving {
    background-color: #EDF3FD;
    padding: 12px 16px;
    border-radius: 16px;
    gap: 16px;
}
.container-fluid.offer .saving .circle{
    height: 32px;
    width: 32px;
    background-color: #2C7EF8;
}
.container-fluid.offer .saving p {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
}
.container-fluid.offer .saving p span {
    color: #2C7EF8;
}
.container-fluid.offer .claim {
    width: 100%;
    display: flex;
}

.container-fluid.offer .claim a{
    border-radius: 50px;
    width: 100%;
    background-color: #59AE43;
    color: #fff;
    text-align: center;
    text-decoration: none;
    padding: 16px 0;
}